@import "tailwindcss";

:root {
  --neutral: #ebebeb;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-neutral: var(--neutral);
}

/* Theme overrides from next-themes (class applied on <html>) */
html {
  --neutral: #ebebeb; /* default light mode */
}

html.dark {
  --neutral: #333333; /* dark mode override */
  background-color: #121212;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
