@import "tailwindcss";

:root {
  --neutral: #ebebeb;
}

@theme inline {
  --color-neutral: var(--neutral);
}

/* Theme overrides (class applied on <html>) */
html {
  --neutral: #ebebeb; /* default light mode */
}

html.dark {
  --neutral: #333333; /* dark mode override */
  background-color: #121212;
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
